@font-face {
  font-family: "SanFrancisco";
  font-weight: normal;
  src: url("../assets/fonts/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format('woff');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'SanFrancisco', serif;
}

button, input {
  font-family: 'SanFrancisco';
}

body {
  direction: ltr;
  overflow-x: hidden;
  background: #f0f0f0;
}

.holder {
  float: left;
  width: 1024px;
  margin: auto calc(50vw - 512px);
  padding: 0;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

::selection {
  background: #3BB9FF;
  color: white;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

label {
  cursor: pointer;
}

.center {
  text-align: center !important;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #FF5722;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #FF5722, 0 0 5px #FF5722;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #FF5722;
  border-left-color: #FF5722;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  float: left;
  width: 100vw;
  height: 100vh;
  background: url("../assets/images/bg.jpg");
  background-size: cover;
  overflow: hidden;
  z-index: 0;

  #main-bg {
    float: left;
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 1;

    p {
      float: left;
      width: 100vw;
      height: 100vh;
      line-height: 100vh;
      color: rgba(255,255,255,0.75);
      font-size: 48px;
    }

  }

  #particles-js {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

}

#profile {
  float: left;
  width: calc(30% - 20px);
  margin: 92px 35% 64px;
  overflow: hidden;
  transform: rotate(45deg);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: 10px solid white;
  background: white;
  border-radius: 15px;

  div {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;

    img {
      float: left;
      width: 150%;
      margin: -25%;
      transform: rotate(-45deg);
    }
  }
}

.separator-blocks {
  float: left;
  width: 100%;

  li {
    float: left;
    width: 52px;
    height: 52px;
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 16px calc(50% - 26px);
    transform: rotate(45deg);
  }

}

#information-card {
  float: left;
  width: calc(80% - 48px);
  margin: 12px 10%;
  padding: 24px;

  p {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 2;
    font-size: 16px;
    color: #353535;
  }
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);

  h2 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    color: #454545;
  }

  hr {
    float: left;
    width: 100%;
    margin: 12px 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    height: 2px;
    border-radius: 100px;
    background: rgba(0,0,0,0.1);
  }

}

#form {
  float: left;
  width: calc(80% - 48px);
  margin: 12px 10%;
  padding: 24px;

  .half {
    float: left;
    width: calc(44% - 24px);
    margin: 12px 3%;
  }

  .full {
    float: left;
    width: calc(94% - 24px);
    margin: 12px 3%;
  }

  input, textarea {
    outline: none;
    padding: 10px;
    box-shadow: none;
    border: 2px solid rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 5px;
    font-family: 'SanFrancisco', serif;
    font-size: 16px;
    transition: all .15s;

    &:hover {
      border-color: rgba(0,0,0,0.25);
    }

    &:focus {
      border-color: #FF5722;
    }
  }

  textarea {
    text-align: left;
    resize: vertical;
    min-height: 128px;
  }

  button {
    float: left;
    width: calc(94% - 4px);
    margin: 16px 3%;
    background: #FF5722;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: .15s all;
    font-family: 'SanFrancisco', serif;
    padding: 10px;
    font-size: 16px;

    &:hover {
      opacity: 0.75;
      color: #FF5722;
      border-color: #FF5722;
      background: white;
    }
  }

}

#copyright {
  float: left;
  width: 100%;
  padding: 0;
  margin: 32px 0;
  text-align: center;
  color: #353535;
  font-size: 16px;

  a {
    color: #FF5722 !important;
    transition: opacity .15s;

    &:hover {
      opacity: 0.7;
    }
  }
}

#links {
  float: right;
  width: 80%;
  background: #F0F0F0;
  box-shadow:  1px 1px 14px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  z-index: 1;
  position: relative;
  margin: 12px 10%;
  overflow: hidden;
  padding: 12px 0;

  
  &:before {
    float: right;
    content: "";
    position: relative;
    top: 8px;
    right: 64px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #28c940;
    box-shadow: 24px 0 0 #ffbd2f, 48px 0 0 #ff6057;
  }

  #address-bar {
    float: left;
    width: calc(96% - 12px);
    background: #FFFFFF;
    margin: 24px 2% 8px;
    padding: 4px 6px;
    border-radius: 5px;
    color: #454545;
    font-size: 16px;
    text-align: left;
  }
  
  #inner-content {
    float: left;
    width: 96%;
    background: #FFFFFF;
    margin: 12px 2%;
    padding: 16px 0;
    border-radius: 5px;
    font-weight: 500;
    color: #454545;
    overflow: hidden;
  
    ul {
  
      li {
        float: left;
        width: 40%;
        margin: 16px 5% 6px;
        padding: 0;
  
        a {
          float: right;
          width: calc(100% - 2px);
          margin: 0;
          text-align: center;
          color: white;
          border-radius: 5px;
          padding: 8px 0;
          font-size: 16px;
          transition: all .25s;
          border: 1px solid white;
          text-shadow: none !important;
          outline: none;
          position: relative;
          -moz-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
          z-index: 10;

          &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 100%;
            background: #fff;
            left: 0;
            right: 0;
            top: 0;
            margin: 0 auto;
            -moz-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
            z-index: -1;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
  
      li a[href*="erfanmola.ir"] {
        background: #d63031;
        &:hover {
          background: white;
          color: #d63031;
        }
      }
  
      li a[href*="eyfan.ir"] {
        background: #ff7675;
        &:hover {
          background: white;
          color: #ff7675;
        }
      }
  
      li a[href*="t.me/ErfanMola"] {
        background: #0984e3;
        &:hover {
          background: white;
          color: #0984e3;
        }
      }
  
      li a[href*="instagram"] {
        background: #6c5ce7;
        &:hover {
          background: white;
          color: #6c5ce7;
        }
      }
  
      li a[href*="aparat"] {
        background: #e84393;
        &:hover {
          background: white;
          color: #e84393;
        }
      }
  
      li a[href*="github"] {
        background: #636e72;
        &:hover {
          background: white;
          color: #636e72;
        }
      }
  
      li a[href*="cv/en/cv.png"]  {
        background: #00cec9;
        &:hover {
          background: white;
          color: #00cec9;
        }
      }
  
      li a[href*="Wallpapers"] {
        background: #fd79a8;
        &:hover {
          background: white;
          color: #fd79a8;
        }
      }
  
      li a[href*="merchant"] {
        background: #fdcb6e;
        &:hover {
          background: white;
          color: #fdcb6e;
        }
      }
  
      li a[href*="mailto"] {
        background: #00b894;
        &:hover {
          background: white;
          color: #00b894;
        }
      }

      li a[href*="spotify"] {
        background-color: #22c295;
        &:hover {
          background-color: white;
          color: #22c295;
        }
      }

      li a[href*="anchor"] {
        background-color: #7E57C2;
        &:hover {
          background-color: white;
          color: #7E57C2;
        }
      }
  
    }
  
  }
  
}
